/* Mobile styles */
@media (max-width: 600px) {
  form {
    flex-direction: column;
  }

  .taskItem {
    width: 100%;
  }

  .itembegain,
  .itemends {
    font-size: 16px;
  }

  .itembegain img,
  .itemends img {
    width: 1.8rem;
  }
  .map-contacts{
    
      width: 80%;
      display: grid;
      /* gridTemplateColumns: repeat(3,1fr); */
      grid-template-columns: repeat(3,1fr);
      margin: auto;
    margin-top: 10%;
    
  }
}

/* Desktop styles */
@media (min-width: 601px) {
  form {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .map-contacts{
    
    width: 80%;
    display: grid;
    /* gridTemplateColumns: repeat(3,1fr); */
    grid-template-columns: repeat(2,1fr);
    margin: auto;
  margin-top: 10%;
  
}

  .taskItem {
    width: 10rem;
    padding: 2rem;
    color: #303030;
    background: #efefef;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 0 7px rgb(224, 118, 19);
  }

  .itembegain,
  .itemends {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    font-weight: 700;
  }

  .itembegain img,
  .itemends img {
    width: 2.2rem;
    cursor: pointer;
  }
}
